@use '../variables'
@use '../mixins'

.analytics
    background-color: variables.$bg-blue-dark
    color: variables.$bg-secondary
    margin-block: 2rem    

.analytics .content
    @include mixins.flex-column    

.analyticCard
    background-color: variables.$bg-secondary
    color: variables.$fc-paragraph
    text-align: center
    padding-block: 2rem

.menuMore
    @include mixins.flex-space-between
    margin-top: 2rem

    .btnMore
            @include mixins.flex-space-between
            align-items: center
            margin-inline: auto
            width: 80%
            padding: 1rem 2rem
            background-color: variables.$bg-primary
            font-size: 1.4rem
            color: white

            a
                color: white
