@use '../variables'
@use '../mixins'


footer
    @include mixins.flex-column
    padding-block: 6rem
    text-align: center
    align-items: center
        
footer .logo img
    width: 80px
    display: flex

.copyright p
    font-size: 1rem