@use '../variables'
@use '../mixins'
   

nav
    position: fixed
    width: 100vw

.navigation
    @include mixins.flex-space-between  
    background-color: white

.logo
    display: flex

.logo img
    width: 60px


.menuActive 
    background-color: variables.$bg-secondary  
    height: 100vh
    width: 100vw
    
.menuActive ul
    padding-inline: 3rem
    padding-block: 3rem
    border-bottom: 1px solid variables.$border-primary
    
.menuActive ul li a 
    font-size: 1.4rem
    color: variables.$fc-paragraph
    line-height: 250%

.menu
    display: none

.closeMenu
    display: none
    
.menuSupport
    @include mixins.flex-space-between
    margin-top: 4rem
        
    .btnSupport
        @include mixins.flex-space-between
        align-items: center
        margin-inline: auto
        width: 80%
        padding: 2rem 2rem
        background-color: variables.$bg-primary
        font-size: 1.4rem
        color: white

        a
            color: white

.socialLinks
    display: flex
    justify-content: center
    gap: 1rem
    margin-top: 4rem
    padding-block: 4rem
    border-top: 1px solid variables.$border-primary


    svg
        display: flex
        font-size: 2.4rem
        color: variables.$bg-primary
    