@use 'variables'

@mixin reset-button 
    border: 0
    background-color: white
    display: flex

@mixin flex-space-between
    display: flex
    justify-content: space-between
    align-items: center

@mixin flex-column
    display: flex
    flex-direction: column
    gap: 2rem

@mixin menu-more
    
    margin-top: 2rem

@mixin button-more
    align-items: center
    margin-inline: auto
    width: 80%
    padding: 1rem 2rem
    background-color: variables.$bg-primary
    font-size: 1.4rem
    color: white

    a
        color: white
