// COLLORS

$border-primary: hsla(38, 10%, 61%, 0.6)
$bg-primary: rgb(0, 97, 254)
$bg-blue-dark: rgb(32, 56, 96)
$bg-blue-gray: rgb(77, 96, 128)
$bg-secondary: rgb(242, 238, 232)
$fc-paragraph: hsla(217, 50%, 25%, 1)

// TIPOGRAPHY

// FONT-FAMILY

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap')
$font-stack: 'Almarai', sans-serif

// FONT-SIZE

$fs-h1: 3.8rem
$fs-h2: 3.2rem
$fs-h3: 2.6rem
$fs-h4: 2rem
$fs-p: 1.4rem