// COLLORS

$border-primary: hsla(38, 10%, 61%, 0.6)
$bg-primary: rgb(0, 97, 254)
$bg-secondary: rgb(242, 238, 232)
$fc-paragraph: #1e1919



//TIPOGRAPHY

@import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap)
$ff-main: 'PT Sans', sans-serif
